@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Manrope:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #fef3e7;
  color: #2b2b2b;
  line-height: 1.6;
  font-size: 16px;
}

a {
  color: #05204a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
